Intermittent SRTP Authentication Failure

I Initially posted a question to the Kamailio User Mailing List, following rfuchs reply to the list i now belive this is an issue with RTPEngine.

I am experiencing intermittent one way audio issues using RTPEngine to proxy between SRTP to RTP.  Althingh i cannot reproduce reliably usually i will get one incident per 20 calls i place, the symptoms are always the same.  The caller can hear the callee without issue, but the callee cannot hear the caller.  When ever this happens the following is logged "Discarded invalid SRTP packet: authentication failed".  I have managed to encounter this problem using the following devices and clients:
Grandstream GXP2130 & GXP2140
Zoiper Biz 3
Bria 4
Jitsi

As these clients all exhibit the same intermittent behavior i have to reluctantly conclude that the issue must lie in the way RTPEngine calculates the authentication HMAC.

I have tcpdump's of an series of sucessfull calls, which end with an unsuccessful call, however i can not see anything which would cause this behaviour and am now drawing a blank on how to investigate this further.

Can  you make the pcaps available somewhere, along with the corresponding log showing the SDP?

Certainly,  only issue i can for see with that is the use of TLS for signaling, as you will need the corresponding key to decrypt the client communications, 
https://onedrive.live.com/redir?resid=5D87BC168BE543E6!69510&authkey=!AMyuIE2Tf7Py1PI&ithint=file%2czip


In your pcap, the problem occurs between packets 101466 and 101473 (both belonging to the same media stream). The former passes authentication properly while the latter doesn't, and none of the ones following it pass authentication either.

What happens between those two packets is that there's a change in media source. The SSRC suddenly changes from AA136768 to 92F42CDC and there's both a break in sequence numbers (jumping from 59798 to 6296) and in timestamps.

This is a problem for SRTP as the change in sequence numbers from 59798 to 6296 is recognized by rtpengine as a rollover and the rollover-counter (ROC) is increased accordingly from 0 to 1. However, the sending media source is still operating with a ROC of 0. The ROC plays into encryption and authentication and SRTP fails to function properly if both sides don't agree on the value of the ROC. The ROC is implicitly and separately maintained by each side and there's no way to signal the ROC between each other.

Details can be found in RFC 3711 sections 3.2.1 and 3.3.1.

Thanks

Ahhhh i feared it it could be this, which i came across on my research: http://srtp.sourceforge.net/faq.html#Q6 

Is there anything i can do to mitigate this from happening?  Or is it a case of trying to get the vendors to fix via firmware updates and new software releases?

Well, can you tell what's happening there that the media source is suddenly changing?

Of course, a large part of the problem is that rtpengine doesn't pay attention to the SSRC. According to the RFC, a change in SSRC means a change in cryptographic context, which would reset the ROC. So technically there's nothing your client is doing wrong, even though the change in SSRC is still strange.

Thanks that’s really helped clarify just what the problem is.

 

I have performed some additional analysis and it seems to be the clients which are changing the SSRC and rolling over.  Although I am now in a bit of a predicament as I don’t have any control over how the clients are implemented, is there anything which can be done server side to alleviate the problem, as otherwise I will be unable to carry on using RTPEngine and will have to revert to rtpproxy, which seemed to not be prone to this issue.

 

Looking at the captured traffic it seems easy enough to detect this phenomenon as the mark bit is always set following a rollover by the client, although why the SSRC changes is a mystery to me.  Would something as simple as resetting the ROC on detection of a mark bit and difference in SSRC suffice as a workaround?

 

From: Richard Fuchs [mailto:notifications@github.com] 
Sent: 09 February 2015 21:40
To: sipwise/rtpengine
Cc: nakchak
Subject: Re: [rtpengine] Intermittent SRTP Authentication Failure (#71)

 

Of course, a large part of the problem is that rtpengine doesn't pay attention to the SSRC. According to the RFC, a change in SSRC means a change in cryptographic context, which would reset the ROC. So technically there's nothing your client is doing wrong, even though the change in SSRC is still strange.

—
Reply to this email directly or view it on GitHub <https://github.com/sipwise/rtpengine/issues/71#issuecomment-73595831> .  <https://github.com/notifications/beacon/AAlRdZNCUMNaeRHTJONasQhiSKi2xk5xks5nqSCSgaJpZM4DdyRw.gif> 



You don't even have to look at the mark bit, the change in SSRC is sufficient to reset the ROC to zero. The problem as I mentioned is that rtpengine doesn't currently process the SSRC (nor the mark bit) and so that mechanism isn't available for the time being. It's one of the loose ends that I want to clean up in the coming months, but it's not something that can be done over night.

I suppose a trial & error approach might work as a short-term workaround and would probably be good to have even after SSRC processing is in place. Shouldn't be too difficult to do.

One more thing that I was wondering about in your logs: The message "No support for kernel packet forwarding available." This shouldn't be there since SRTP/RTP is fully supported in the kernel module. Do you know why it says that?

Yeah, it used to work fine then I think I rebuilt and reinstalled and have been getting that error since, I think the kernel module registration has mucked up and I will be fixing that later on today.

 

On another note, is there anything I can contribute to the project, unfortunately my c skills are somewhat lacking (I know enough to know I don’t know enough ;-) ), but documentation and tutorials are within my grasp…

 

From: Richard Fuchs [mailto:notifications@github.com] 
Sent: 10 February 2015 14:19
To: sipwise/rtpengine
Cc: nakchak
Subject: Re: [rtpengine] Intermittent SRTP Authentication Failure (#71)

 

One more thing that I was wondering about in your logs: The message "No support for kernel packet forwarding available." This shouldn't be there since SRTP/RTP is fully supported in the kernel module. Do you know why it says that?

—
Reply to this email directly or view it on GitHub <https://github.com/sipwise/rtpengine/issues/71#issuecomment-73705893> .  <https://github.com/notifications/beacon/AAlRdRvHF_dpeBOj7caWBF7diE0eQZM0ks5nqgrVgaJpZM4DdyRw.gif> 



This should be a functioning workaround for receiving SRTP. Note however that you may still run into a similar problem for outgoing SRTP, where the SRTP client starts to discard packets due to failed authentication. This will depend on how strict the SRTP client is with maintaining the ROC.

I can confirm that the workaround seems to have mitigated the issue entirely!

Thank you for your quick response and work 

I have the same problem with Aastra's phone. It happens when I put on hold/unhold the line.
Each time I put the line on hold, I see this:
Discarded invalid SRTP packet: authentication failed
Discarded invalid SRTCP packet: authentication failed

When I unhold the line, sometimes I got one way audio. But I can see RTP packet incoming and outgoing to the phone.

Do you think it's related to what you said about ROC and SSRC ?

I'm using latest rtpengine branch.

Thank you.

The only way to tell is to do a packet capture and see what's going on.

Ok I did a packet capture for a Aastra, and it appears that Aastra use a different a=crypto:1 AES_CM_128_HMAC_SHA1_80 for each INVITE.

And what's explained the "Discarded invalid SRTP packet: authentication failed", is that Aastra continues sending 2 more SRTP and one SRTCP packets to rtpengine even if it received the ACK for the new INVITE.

Because the crypto has changed in the last INVITE, rtpengine could not authenticate these late packets. Maybe it's not a big deal ?

Also, I noticed that Aastra makes a new SSRC for each new INVITE.

So just to compare, I made a test with a Yealink, and the phone uses the same SSRC when doing hold/unhold. And there is no "Discarded invalid SRTP packet: authentication failed" because the phone uses the same crypto for each INVITE.

It may explains why sometimes Aastra looses its RTP audio, maybe rtpengine is sending RTP packet with an old SSRC and Aastra just ignores it ?


Rtpengine doesn't have an SSRC of its own, but rather uses whatever the other side sends. You can tell whether it's a problem with ROC if the one way audio occurs when the RTP sequence numbers rolled over (back to zero), and when audio continues working if they don't roll over.