Delete branch deletes entire call

Hello, Richard!

I have next SIP dialog:
INVITE (SDP/PCMU) ->
<- 100 Trying
<- 180 Ringing
<- 200 OK (SDP/PCMU)
after some delay
<- INVITE (SDP/t.38)
-> 488 Not Acceptable Media

I do offer/answer on first INVITE/200 adding via-branch parameter.
And I do offer/delete on reINVITE/488 adding via-branch parameter too.

Expectation: delete 2nd offer and stay on 711 codec negotiated by 1st offer/answer.

Please help me to understand what I'm doing wrong or maybe this is some kind of a bug?

PCMU:
```
[1595028187.229250] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Received command 'offer' from 10.0.0.127:33660
[1595028187.229313] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Dump for 'offer' from 10.0.0.127:33660: { "sdp": "v=0
o=dev 53655765 2353687637 IN IP4 2.2.2.2
s=-
c=IN IP4 2.2.2.2
t=0 0
m=audio 6020 RTP/AVP 0
a=rtpmap:0 PCMU/8000
", "ICE": "remove", "direction": [ "set0", "set0" ], "flags": [ "port-latching" ], "replace": [ "origin", "session-connection" ], "transport-protocol": "RTP/AVP", "call-id": "dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-", "via-branch": "z9hG4bKbd.a3eeb261.1", "received-from": [ "IP4", "10.0.0.25" ], "from-tag": "17013SIPpTag001", "command": "offer" }
[1595028187.229435] NOTICE: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Creating new call
[1595028187.229508] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Default sink codec is PCMU/8000
[1595028187.229523] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: 0 DTMF sink entries
[1595028187.229534] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Creating codec handler for PCMU/8000
[1595028187.229551] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Sink supports codec PCMU/8000
[1595028187.229560] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Using passthrough handler for PCMU/8000
[1595028187.229694] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: creating send_timer
[1595028187.229714] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: creating send_timer
[1595028187.229726] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: creating send_timer
[1595028187.229736] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: creating send_timer
[1595028187.229815] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: set FILLED flag for stream 2.2.2.2:6020
[1595028187.229828] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: set FILLED flag for stream 2.2.2.2:6021
[1595028187.231699] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Replying to 'offer' from 10.0.0.127:33660 (elapsed time 0.002346 sec)
[1595028187.231742] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Response dump for 'offer' to 10.0.0.127:33660: { "sdp": "v=0
o=dev 53655765 2353687637 IN IP4 1.1.1.1
s=-
c=IN IP4 1.1.1.1
t=0 0
m=audio 5738 RTP/AVP 0
a=rtpmap:0 PCMU/8000
a=sendrecv
a=rtcp:5739
", "result": "ok" }
[1595028187.248548] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Received command 'answer' from 10.0.0.127:56343
[1595028187.248596] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Dump for 'answer' from 10.0.0.127:56343: { "sdp": "v=0
o=dev 53655765 2353687637 IN IP4 8.8.4.4
s=-
c=IN IP4 8.8.4.4
t=0 0
m=audio 6049 RTP/AVP 0
a=rtpmap:0 PCMU/8000
", "ICE": "remove", "direction": [ "set0", "set0" ], "flags": [ "symmetric-codecs" ], "replace": [ "origin", "session-connection" ], "transport-protocol": "RTP/AVP", "call-id": "dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-", "via-branch": "z9hG4bKbd.a3eeb261.1", "received-from": [ "IP4", "10.0.0.27" ], "from-tag": "17013SIPpTag001", "to-tag": "39989SIPpTag01122810", "command": "answer" }
[1595028187.248680] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Default sink codec is PCMU/8000
[1595028187.248697] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: 0 DTMF sink entries
[1595028187.248710] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Creating codec handler for PCMU/8000
[1595028187.248725] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Sink supports codec PCMU/8000
[1595028187.248759] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Using passthrough handler for PCMU/8000
[1595028187.248786] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: set FILLED flag for stream 8.8.4.4:6049
[1595028187.248802] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: set FILLED flag for stream 8.8.4.4:6050
[1595028187.250605] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Replying to 'answer' from 10.0.0.127:56343 (elapsed time 0.001974 sec)
[1595028187.250642] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Response dump for 'answer' to 10.0.0.127:56343: { "sdp": "v=0
o=dev 53655765 2353687637 IN IP4 1.1.1.1
s=-
c=IN IP4 1.1.1.1
t=0 0
m=audio 5748 RTP/AVP 0
a=rtpmap:0 PCMU/8000
a=sendrecv
a=rtcp:5749
", "result": "ok" }
```

T.38:
```
[1595028197.375533] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Received command 'offer' from 10.0.0.127:41670
[1595028197.375600] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Dump for 'offer' from 10.0.0.127:41670: { "sdp": "v=0
o=dev 377486 58613 IN IP4 8.8.8.8
s=SIP Media Capabilities
c=IN IP4 8.8.4.4
t=0 0
m=image 6049 udptl t38
a=T38FaxVersion:0
a=T38MaxBitRate:14400
a=T38FaxRateManagement:transferredTCF
a=T38FaxMaxBuffer:262
a=T38FaxMaxDatagram:176
a=T38FaxUdpEC:t38UDPRedundancy
a=sendrecv
", "ICE": "remove", "direction": [ "set0", "set0" ], "flags": [ "port-latching" ], "replace": [ "origin", "session-connection" ], "transport-protocol": "RTP/AVP", "call-id": "dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-", "via-branch": "z9hG4bKebd8.1ebb3092.0", "received-from": [ "IP4", "10.0.0.27" ], "from-tag": "39989SIPpTag01122810", "to-tag": "17013SIPpTag001", "command": "offer" }
[1595028197.375735] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Updating media type from 'audio' to 'image'
[1595028197.375765] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Eliminating asymmetric inbound codec PCMU/8000
[1595028197.377842] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Replying to 'offer' from 10.0.0.127:41670 (elapsed time 0.002197 sec)
[1595028197.377884] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Response dump for 'offer' to 10.0.0.127:41670: { "sdp": "v=0
o=dev 377486 58613 IN IP4 1.1.1.1
s=SIP Media Capabilities
c=IN IP4 1.1.1.1
t=0 0
m=image 5748 udptl t38
a=T38FaxVersion:0
a=T38MaxBitRate:14400
a=T38FaxRateManagement:transferredTCF
a=T38FaxMaxBuffer:262
a=T38FaxMaxDatagram:176
a=T38FaxUdpEC:t38UDPRedundancy
a=sendrecv
", "result": "ok" }
[1595028197.380230] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Forward to sink endpoint: 2.2.2.2:6020
[1595028197.383868] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Received command 'delete' from 10.0.0.127:46858
[1595028197.383916] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Dump for 'delete' from 10.0.0.127:46858: { "call-id": "dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-", "via-branch": "z9hG4bKebd8.1ebb3092.0", "received-from": [ "IP4", "10.0.0.25" ], "from-tag": "39989SIPpTag01122810", "command": "delete" }
[1595028197.384132] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Deleting call branch '39989SIPpTag01122810' (via-branch 'z9hG4bKebd8.1ebb3092.0')
[1595028197.384150] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Destroying monologue '39989SIPpTag01122810' (z9hG4bKbd.a3eeb261.1)
[1595028197.384163] DEBUG: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Destroying monologue '17013SIPpTag001' ()
[1595028197.384176] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Call branch '39989SIPpTag01122810' (via-branch 'z9hG4bKbd.a3eeb261.1') deleted, no more branches remaining
[1595028197.384185] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Deleting entire call
[1595028197.385177] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: Final packet stats:
[1595028197.385213] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: --- Tag '17013SIPpTag001', created 0:10 ago for branch '', in dialogue with '39989SIPpTag01122810'
[1595028197.385228] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: ------ Media #1 (image over udptl) using t38
[1595028197.385247] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: --------- Port    1.1.1.1:5748  <>    2.2.2.2:6020 , SSRC d7208319, 428 p, 73616 b, 0 e, 1 ts
[1595028197.385263] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: --------- Port    1.1.1.1:5749  <>    2.2.2.2:6021  (RTCP), SSRC 0, 0 p, 0 b, 0 e, 10 ts
[1595028197.385277] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: --- Tag '39989SIPpTag01122810', created 0:10 ago for branch 'z9hG4bKbd.a3eeb261.1', in dialogue with '17013SIPpTag001'
[1595028197.385294] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: ------ Media #1 (image over udptl) using t38
[1595028197.385323] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: --------- Port    1.1.1.1:5738  <>    8.8.4.4:6049 , SSRC d7208319, 429 p, 73788 b, 0 e, 0 ts
[1595028197.385349] INFO: [dev-YWgcU1VHHhRlZmscXV1YHmx9ZnU-]: --------- Port    1.1.1.1:5739  <>    8.8.4.4:6050  (RTCP), SSRC 0, 0 p, 0 b, 0 e, 10 ts
```


Because this isn't really a second call branch. The via-branch is only used for offers without a to-tag, and then match the to-tag of the answer to the corresponding offer. In your case you have:

1) offer with from-tag X and no to-tag
2) answer with to-tag Y
3) reverse offer with from-tag Y and to-tag X
4) delete for from-tag Y

The via-branch is not used here at all, because the dialogue/branch is already uniquely identified by the from/to-tags X and Y. So there's only ever one call branch X ↔ Y created, so deleting Y deletes the entire call.

I think the correct (?) way to signal a rejected re-invite is to fall back to a re-invite of the previously established state. Or you can try omitting the to-tag in the re-invite offer and see if that works.

My customer tells me that there must be no additional reINVITE and after we reject t.38 reINVITE we must go back to PCMU without any reINVITEs. That's the way how some hardware works.

I'm not sure that I can just omit to-tag. What side effect I can have if I'll stop to send to-tags at all?


Answers must have to-tags, but you can omit them in offers.

Thank you. I'll try without to-tag soon and report back.

Just FYI.

RFC #6337:
```
3.4.  Recovering from a Failed Re-INVITE
   Section 14.1 of [RFC3261] requires that the session parameters in
   effect prior to a re-INVITE remain unchanged if the re-INVITE fails,
   as if no re-INVITE had been issued.  This remains the case even if
   multiple offer/answer exchanges have occurred between the sending of
   the re-INVITE and its failure, and even if media has been exchanged
   using the proposed changes in the session.  Because this can be
   difficult to achieve in practice, a newer specification [RFC6141]
   recommends the UAS to send a 2xx response to a re-INVITE in cases
   where rolling back changes would be problematic.
   Nevertheless, a UAC may receive a failure response to a re-INVITE
   after proposed changes that must be rolled back have already been
   used.  In such a case, the UAC should send an UPDATE offering the SDP
   that has been reinstated.  (See [RFC6141] for details.)
```


Yes I'm aware, but there isn't a way to signal an offer failure to rtpengine. A delete is something else.

Thank you @rfuchs for all your advices and comments.
I worked this around by generating additional offer/answer with previous SDP when I receive 488.
