Loud noise on hold / unhold in a call between DTLS / SDES clients on SDES side of the call

It was mention before in issue [112](https://github.com/sipwise/rtpengine/issues/112) but now can be reproduced with slightly different sequence for loud static be heard in other direction (on SDES side):

    1. Call from SDES (unauthenticated_srtp) client to webrtc DTLS client, media is ok both directions
    2. Wait for ~30 minutes, audio still ok both directions
    3. DTLS client put call on hold for ~10 sec (inactive)
    4. DTLS client unhold the call, loud static heard on SDES client, on DTLS client media still can be heard ok

We use RTP engine version 8.5.2.0.

RTPE log and RTPE network capture (~70 MB) for call-id 008000000c860ba449242010a32e05b@EYEP_cd79d7f67e62_1000d2f_savp can be found at https://www.dropbox.com/sh/0253mz0oe651vue/AADOnIryEQrrCc84oqDpwoI3a?dl=0.

What happens on unhold (step #4 above) is that in answer for unhold SDES client changing port number 10558, SSRC 0x5cea3053 and sequence (received in #1 above) to new port number 10564, new SSRC 0xa889b862 and new sequence (frames # 378226 - 378243 in attached RTPE network capture and line # 8523 in attached RTPE log). At the same time media session from RTPE to SDES client has not been changes, ie looking at frames # 378190 (before unhold) and frame # 378287 (after unhold) it has the the same SSRC 0x4c4cd5b4 and sequentially increasing sequence numbers 42546+. That looks like ROC not reset by RTPE on unhold. Since the SDES remote party changed ( IP,port,ssrc ) , the RTP engine transmit side should reset the roll over counter per RFC 4568 section 7.1.4 -> changed IP/port and key in an answer indicates a change in media endpoint that may not have access to the old crypto context. And therefore the ROC:s in both directions should be reset.

In attached RTPE network capture we have:

10.50.224.91:10558/10559 = original IP address:RTP/RTPC ports received in offer from SDES client in #1 above
10.50.224.91:10564/10565 = IP address:RTP/RTPC ports received in unhold answer from SDES client in #4 above
10.50.184.31:14616/14617 = RTP engine IP address:RTP/RTPC ports towards SDES client (not changed on hold/unhold as we use "port latching")
10.50.184.31:14600 = RTP engine IP address:port towards DTLS client (with rtcp-mux)
10.50.184.48:15463 = DTLS client IP address:port (with rtcp-mux)


Another reason it looks like ROC issue on RTP engine is that if we dont wait for 30 minutes in #2 above, ie before ROC reset on the session and do hold/unhold than audio is fine in both directions indicatin there no issues with SDES crypto keys, but an issue with ROC.


Is this a temporary issue during the re-invite or is the SRTP permanently broken afterwards? The pcap doesn't show the signalling interleaved with the RTP so I'm unsure about the timing. The re-invite signalling is supposed to reset the crypto context (including a ROC reset) which is why I'm wondering if maybe the endpoint changed separately from the signalling event.

SRTP permanently broken after unhold. I added new filtered capture with both NG and medias at https://www.dropbox.com/sh/8j2q8gqj5b7vbue/AADmRF1lm8EJN4bkbPRNrRISa?dl=0. RTPE listening port number = 2223. Hold offer to RTPE is in frame # 377925 (reassembled), hold answer is in frame # 377928. Unhold offer is in frame # 377944 (reassembled), unhold answer is in frame # 377946.

I believe that we have similar hold/resume scenario triggering the same problem. We use rtpengine 9.4.1 and kamailio 5.5.

In our scenario we are only using SIP endpoints, but the SRTP methods are the same; one side is an SDES-SRTP (unauthenticated_srtp) and the other side is using DTLS-SRTP/ICE.

I can confirm that the ROC is not reset after the call has been resumed, even if the remote side (SDES SRTP) has changed both master key, port number and ssrc. I managed to decrypt the SRTP using different values for ROC and if I am using ROC = 1 after the resume, I get proper audio. 

I have managed to extract a pcap from our Homer including data from both kamailio and rtpengine that I attached in the message: https://www.dropbox.com/s/u1dvg3nfs7jr0kr/sip_hold_resume.pcap?dl=0

One interesting detail is that the change of crypto details is done in an SDP answer, see the attached pcap package nr: 730. Would it been different if the change would have been trigger by an SDP offer? I would still argue that the ROC should be reset even if the master key is not modified in the offer, but changed in the answer because it is indicated that the media endpoint has been changed that has not knowledge of the previous ROC value.




Richard , looking at the code it looks like when the endpoint changes in the re-invite offer or 200OK answer to a re-invite, it does reset the crypto context but not the roc value in the older session tied to the ssrc context. Looks like roc is only reset on the receiver side when the sender ssrc changes but it should change on the tx side as well since the endpoint changed.
I tried the below change in the code and that seems to resolve the issue . 
Its in the file daemon/call.c in function __fill_stream

if (PS_ISSET(ps, FILLED) && !MEDIA_ISSET(media, DTLS)) {
	/* we reset crypto params whenever the endpoint changes */
	// XXX fix WRT SSRC handling
	crypto_reset(&ps->crypto);
	dtls_shutdown(ps);

        +/* reset the roc on both in and out since the endpoint changed and will not have 
	 the correct roc that we were using in the session*/
        +mutex_lock(&ps->in_lock);
        +if(ps->ssrc_in)
        +{
        +   ps->ssrc_in->srtp_index = 0;
        +}

       +mutex_unlock(&ps->in_lock);
       +mutex_lock(&ps->out_lock);
       +if(ps->ssrc_out)
       +{
       +   ps->ssrc_out->srtp_index = 0;
       +}
       +mutex_unlock(&ps->out_lock);
}

Good catch, thanks. I was actually thinking of tying the crypto context to the destination address/port (and SSRC) as it should be, but this works as a quick workaround.

So I would suggest be89b3a as a fix