add '=' padding characters in a=crypto lines

I've opened a ticket with Counterpath on their Bria client because it was rejecting SDPs with SRTP indication because ... wait for it ... Bria was configured to require secure media. It turns out the problem, according to Counterpath, is that rtpengine wasn't including = padding characters at the end of its a=crypto lines. 

I see the 'pad' option for rtpengine. The doc says this flag will preserve these padding characters, but it's not explicit about adding them outright. I've tried it and it appears that it does not. I found in sdp.c where it will truncate the padding if the flag is not set, so I think I'm on the right track.

I looked at the RFC referenced in the doc, RFC 4568 section 6.1, and I see nowhere that says padding is required. I've cited this with Counterpath. In the meantime, I wanted to verify I'm using this flag correctly and adding padding characters is just not how it works. 


Regards,
Jeff


The option is called `pad-crypto` or `SDES-pad`