"no crypto suite negotiated" after reporting successful DTLS-SRTP negotiation

Hello,

I'm working on getting RTPEngine set up to bridge between WebRTC (using JsSIP) and normal softphones. The current status is that I get one-way audio: the softphone can hear the input from the web browser's mic, but I get no audio on the web browser end. I see the following in my logs from rtpengine:
```
Jan 29 19:21:11 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40038] DTLS: Peer certificate accepted
Jan 29 19:21:11 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40038] DTLS-SRTP successfully negotiated
Jan 29 19:21:11 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40039] DTLS: Peer certificate accepted
Jan 29 19:21:11 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40039] DTLS-SRTP successfully negotiated
Jan 29 19:21:11 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40059] ICE negotiated: local interface 172.31.41.38
Jan 29 19:21:11 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] Received command 'offer' from 127.0.0.1:50286
Jan 29 19:21:11 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] Unknown flag encountered: 'symmetric'
Jan 29 19:21:11 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] Replying to 'offer' from 127.0.0.1:50286
Jan 29 19:21:11 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] Received command 'answer' from 127.0.0.1:45695
Jan 29 19:21:11 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] Unknown flag encountered: 'symmetric'
Jan 29 19:21:11 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] Replying to 'answer' from 127.0.0.1:45695
Jan 29 19:21:12 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40070] Switching local interface to 172.31.41.38:40070
Jan 29 19:21:12 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40038] SRTP output wanted, but no crypto suite was negotiated
Jan 29 19:21:12 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40038] Switching local interface to 172.31.41.38:40038
Jan 29 19:21:15 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40058] Confirmed peer address as 74.123.74.95:4019
Jan 29 19:21:15 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40038] Confirmed peer address as 74.123.74.95:63690
Jan 29 19:21:15 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40038] Kernelizing media stream: 74.123.74.95:63690
Jan 29 19:21:15 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40058] Kernelizing media stream: 74.123.74.95:4019
Jan 29 19:21:15 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40071] Confirmed peer address as 74.123.74.95:61970
Jan 29 19:21:15 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40071] Switching local interface to 172.31.41.38:40071
Jan 29 19:21:16 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40059] Confirmed peer address as 74.123.74.95:4027
Jan 29 19:21:18 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40071] SRTCP output wanted, but no crypto suite was negotiated
Jan 29 19:24:05 ip-172-31-41-38 rtpengine[15351]: message repeated 10 times: [ [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40071] SRTCP output wanted, but no crypto suite was negotiated]
Jan 29 19:24:13 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf port 40071] Error parsing RTCP header: invalid header version
Jan 29 19:25:14 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] Closing call due to timeout
Jan 29 19:25:14 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] Final packet stats:
Jan 29 19:25:14 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] --- Tag 'kJeB8lXLNvZyx3dENGzzi40n2MU7T6v-', created 4:03 ago for branch '', in dialogue with 'bu78p0dii4'
Jan 29 19:25:14 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] ------ Media #1 (audio over RTP/AVP) using PCMU/8000
Jan 29 19:25:14 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] --------- Port 40058 <>    74.123.74.95:4019 , 9090 p, 1564966 b, 0 e, 1454095454 last_packet
Jan 29 19:25:14 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] --------- Port 40059 <>    74.123.74.95:4027  (RTCP), 44 p, 4290 b, 0 e, 1454095453 last_packet
Jan 29 19:25:14 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] --- Tag 'bu78p0dii4', created 4:03 ago for branch '', in dialogue with 'kJeB8lXLNvZyx3dENGzzi40n2MU7T6v-'
Jan 29 19:25:14 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] ------ Media #1 (audio over RTP/SAVPF) using PCMU/8000
Jan 29 19:25:14 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] --------- Port 40038 <>    74.123.74.95:63690, 9097 p, 1653894 b, 0 e, 1454095454 last_packet
Jan 29 19:25:14 ip-172-31-41-38 rtpengine[15351]: [CbE.H9K-Eh4cYYnNVk1tIWdmmZfVevcf] --------- Port 40071 <>    74.123.74.95:61970 (RTCP), 39 p, 3569 b, 0 e, 1454095453 last_packet
```
Any insights or places to look for debugging this would be appreciated. Let me know if you need further debug traces etc.

Thanks!


It probably has to do with the interface switch reported. Can you post the entire log for the call please.

Even better would be to run it with log-level=7

here's a call trace with log level turned up to 7. 
[rtpengine-debug.txt](https://github.com/sipwise/rtpengine/files/110322/rtpengine-debug.txt)



It looks like the called endpoint proceeds to establish the DTLS connection before the ICE handshake is complete. I haven't seen a client doing this before, so it's possible rtpengine doesn't handle it well. Do you have any pointers on how I could reproduce this locally? Also, a pcap showing the ICE/STUN and DTLS packets would be helpful.

quick update: I've worked with a couple of different SIP UA options and have gotten another one (SIPml) to work and give me bidirectional audio – so the ICE negotiation problem appears to be specific to JsSIP. 

I can post some repro details soon so that you can take a look at it, as it may be a case you want to be able to handle, but does seem to be caused by the UA doing ICE incorrectly.

Well, the RFC does suggest that with aggressive ICE nomination, DTLS could be established before ICE completes and might even change endpoints, but I've never seen a client doing this so I don't know how well rtpengine would handle it. Maybe jssip does that.

Interesting, didn't realize the RFCs thought that was OK. For reproducing, my environment is:

- WebRTC client: Chrome 47 with JsSIP 0.7.11
- Softphone: CSipSimple on Android
- SIP proxy: Kamailio 4.3.4 with WebSockets and routing config to force audio streams through RTPEngine when it detects that one side of the call is WebRTC and the other side is a regular SIP client (Kamilio routing config and RTPEngine flags attached)

To test, I've been starting up a JsSIP UA instance on the Chrome JS console and registering with the Kamailio server, and then calling it using CSipSimple. Code to start the JsSIP UA:
`var ua = new JsSIP.UA({uri: 'sip:username@sip-server', password: 'password', ws_servers: 'ws://sip-server:8080/sip/', register: false});`
`ua.start();`
`ua.register();`
`ua.on('newRTCSession', function(data) { if(data.session && data.session.direction == 'incoming') { data.session.answer(); } });`

If it would be helpful, I could give you some SIP credentials on my test server. I should also have a chance tomorrow to generate a pcap of a problematic session and post it. 

[kamailio-local.cfg.txt](https://github.com/sipwise/rtpengine/files/113283/kamailio-local.cfg.txt)
[kamailio-routing-webrtc.cfg.txt](https://github.com/sipwise/rtpengine/files/113284/kamailio-routing-webrtc.cfg.txt)


pcap attached
[jssip-webrtc.zip](https://github.com/sipwise/rtpengine/files/114220/jssip-webrtc.zip)



Yeah, pretty sure that this is incorrect behaviour from jssip - DTLS is started before anything was nominated by ICE, which means that this isn't aggressive nomination as mentioned in the RFC.

I'll still try to make this work in rtpengine, but it may take a while as I need to build a test case for it first.

Thanks! Good to know where the issue is. No worries on a fix taking a while as I've found a workaround (using SIPml, which behaves better), though if/when it does get fixed I'll probably want to go back to JsSIP as it's easier to use and better documented. 

> Well, the RFC does suggest that with aggressive ICE nomination, DTLS could be established before ICE completes and might even change endpoints, but I've never seen a client doing this so I don't know how well rtpengine would handle it. 

That is 100% common, and that is what Chrome does. `rtpengine` must be ready to accept media (and DTLS is considered "media" within WebRTC) **once** a working candidate pair is found, even if later the remote device (in case it is the ICE controlling role) decides to select another valid candidate pair to send media by selecting it with a STUN Binding request with USE_CANDIDATE.

`rtpengine` (an any WebRTC device) must treat ICE as a "virtual connection" which means it is not tied to a single 5-tuple anymore. At the time you receive a STUN Binding request you must be ready to receive DTLS.


> Maybe jssip does that.

No, JsISP is just a JavaScript library, it can not alter the underling WebRTC stack of the browser.

> Yeah, pretty sure that this is incorrect behaviour from jssip - DTLS is started before anything was nominated by ICE, which means that this isn't aggressive nomination as mentioned in the RFC.

No.

Well, it's incorrect as per RFC 5763, which says `When ICE is being
   used, the ICE connectivity checks are performed before the DTLS
   handshake begins.  Note that if aggressive nomination mode is used,
   multiple candidate pairs may be marked valid before ICE finally
   converges on a single candidate pair.` So no nomination = no DTLS.

When ICE aggressive nomination is used you can end having more than a single **valid** candidate pair, so media can flow, regardless the ICE controller choses later the definitive candidate pair.

I've discussed about this subject multiple times, and I've implemented a server that deals with this **valid** scenario. And I handle this scenario because browsers behave in this way, and they do it because the RFC allows it.

BTW:

> RFC 5245 section 11.2 "Receiving Media":
>		
> ICE implementations MUST be prepared to receive media on each component on any candidates provided for that component.

And to probe this even more: You cannot argue that "JsSIP sends DTLS before ICE is negotiated". That has no sense because a JS application cannot decide when to send ICE nor when to send DTLS. That's up to the browser WebRTC stack. So if that happens is because the browser does it (and not the JS lib using the WebRTC API).

I hope you trust me.

And quoting also RFC 5763:

> Note that if aggressive nomination mode is used,
   multiple candidate pairs may be marked valid before ICE finally
   converges on a single candidate pair.  Implementations MUST treat all
   ICE candidate pairs associated with a single component as part of the
   same DTLS association.  Thus, there will be only one DTLS handshake
   even if there are multiple valid candidate pairs.

Why would the RFC say that about "the same DTLS association"? Easy: because DTLS can be received from **any** of the valid candidate pairs.

More:

>    However, because the agent included the USE-CANDIDATE
   attribute in all of its checks, another check may yet
   complete, causing another valid pair to have its nominated flag set.
   ICE always selects the highest-priority nominated candidate pair from
   the valid list as the one used for media.  Consequently, the selected
   pair may actually change briefly as ICE checks complete, resulting in
   a set of transient selections until it stabilizes.

More info about this:

* https://www.ietf.org/mail-archive/web/rtcweb/current/msg14278.html

and specially this one:

* https://www.ietf.org/mail-archive/web/rtcweb/current/msg14279.html

I hope `rtpengine` is fixed regarding this subject.

@dtwright:
> (using SIPml, which behaves better)

just false :)

On 02/02/2016 05:38 PM, Iñaki Baz Castillo wrote:
> And quoting also RFC 5763:
>
>     Note that if aggressive nomination mode is used,
>     multiple candidate pairs may be marked valid before ICE finally
>     converges on a single candidate pair. Implementations MUST treat all
>     ICE candidate pairs associated with a single component as part of the
>     same DTLS association. Thus, there will be only one DTLS handshake
>     even if there are multiple valid candidate pairs.
>
> Why would the RFC say that about "the same DTLS association"? Easy:
> because DTLS can be received from *any* of the valid candidate pairs.
>
> More:
>
>     However, because the agent included the USE-CANDIDATE
>     attribute in all of its checks, another check may yet
>     complete, causing another valid pair to have its nominated flag set.
>     ICE always selects the highest-priority nominated candidate pair from
>     the valid list as the one used for media. Consequently, the selected
>     pair may actually change briefly as ICE checks complete, resulting in
>     a set of transient selections until it stabilizes.

Correct. Note how it's talking about aggressive nomination, as I 
mentioned before. In this case, no aggressive nomination was done and no 
ICE checks had use-candidate set, thus nothing was ever nominated. I 
don't agree that DTLS counts as media as the RFC is quite specific about 
the interaction between DTLS and ICE. Unless there's another RFC which 
legitimizes starting DTLS before anything is nominated by ICE, I still 
maintain that this is incorrect behaviour as per the RFC. Either way, I 
already said that I'll try to make it work in rtpengine, so there's not 
much point in arguing about it (especially if the points being made are 
"false" and "no").


@rfuchs I think we both agree on this but somehow I'm not explaining very well.

I never said that media (which **does** include DTLS) could flow before having USE-CANDIDATE. The only I said is that a WebRTC device MUST be ready to receive media (DTLS or SRTP) in any valid candidate pair. And a valid candidate pair is one for which USE-CANDIDATE has been send or received (depending on the device's ICE role).

> I don't agree that DTLS counts as media

Well, this is not about agreeing or not. In RFC 5245 (ICE) there is no DTLS at all, so **anything** being carried once ICE is established must be considered "media".

More in RFC 5245 (ICE):

>  With regular nomination, the controlling agent lets the checks
   continue until at least one valid candidate pair for each media
   stream is found.  Then, it picks amongst those that are valid, and
   sends a second STUN request on its NOMINATED candidate pair, but this
   time with a flag set to tell the peer that this pair has been
   nominated for use.  This is shown in Figure 4.
   Once the STUN transaction with the flag completes, both sides cancel
   any future checks for that media stream.  ICE will now send media
   using this pair.  The pair an ICE agent is using for media is called
   the SELECTED PAIR.

So, no media can be sent until USE-CANDIDATE is sent. But when there is aggressive nomination every STUN Binding requests have USE-CANDIDATE so, once replied, they automatically become valid candidates and media (including DTLS) can flow over **them**. Later a definitive SELECTED PAIR will be chosen based on priorities and all the related stuff, but that does not matter (media can flow before that).

Yes I understand that. I already explained several times that in this case, no candidates were ever nominated and no use-candidate was ever set anywhere. Yet DTLS was still started.

I remember one thing! If you are the ICE controlled and have a working candidate pair (for which the remote ICE controller did not yet send USE-CANDIDATE) then you can **already** send media.

May be it is the opposite, sorry, no time now to check it, but:

This is my server side code regarding this subject, and never experimented an issue like this one when running it agains Chrome or Firefox forcing different ICE and DTLS roles:

```c++
// If I am DTLS 'client' then wait for ICE to be 'completed' (got USE-CANDIDATE).
case RTC::DTLSTransport::Role::CLIENT:
	if (this->iceServer->GetState() == RTC::ICEServer::IceState::COMPLETED)
	{
		MS_DEBUG("running DTLS transport in local role 'client'");

		this->dtlsTransport->Run(RTC::DTLSTransport::Role::CLIENT);
	}
	break;

// If I am DTLS 'server' then run the DTLS transport if ICE is 'connected' (not yet
// USE-CANDIDATE) or 'completed'.
case RTC::DTLSTransport::Role::SERVER:
	if (this->iceServer->GetState() == RTC::ICEServer::IceState::CONNECTED ||
	    this->iceServer->GetState() == RTC::ICEServer::IceState::COMPLETED)
	{
		MS_DEBUG("running DTLS transport in local role 'server'");

		this->dtlsTransport->Run(RTC::DTLSTransport::Role::SERVER);
	}
	break;
```

This is, if a server is the DTLS server role (SDP "a=setup:passive") and a working candidate pair has been found (but no USE-CANDIDATE yet) then the server MUST be ready to receive "media", and hence "DTLS" from the peer.

I have the same Error:
SRTP output wanted, but no crypto suite was negotiated
But ONLY with new Versions. With rtpengine from 11.11.2015 an earlier, this problem doesnt exist.

Interesting part:
If i activate dtls-passive, it works, sometimes, But not always. It i dont use dtls-passive, it never works. Is there a Solution? Must be something that was changed in this time frame.

Explanation given above. It's up to developers to fix it according to the specs.

Still working on a workaround for this, but it's entirely possible that you have a different issue. Please post a full debug log for a failed call.

Hi. Is it still not resolved issue?
I working on kamailio + rtpengine project for cross-connection between SIP and webRTC SIP based cliend and found next issue

when i making call from webRTC to SIP i have strange 200 response

SIP/2.0 200 OK
Via: SIP/2.0/WSS d9ja71a0gsfs.invalid;rport=57192;received=128.69.95.21;branch=z9hG4bK5976421
Record-Route: <sip:1.2.3.4:5068;lr;r2=on;ftag=utmrn687ba;did=a8.9821;nat=yes>
Record-Route: <sip:1.2.3.4:4443;transport=ws;lr;r2=on;ftag=utmrn687ba;did=a8.9821;nat=yes>
Call-ID: ravqravs8bccmpvnceno
From: "1001" <sip:1001@1.2.3.4>;tag=utmrn687ba
To: <sip:1002@1.2.3.4>;tag=d2aff12f4fac45f48dd889eb9b9c71dd
CSeq: 1310 INVITE
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Contact: <sip:1002@128.69.95.21:54255;ob>
Supported: replaces, 100rel, timer, norefersub
Session-Expires: 120;refresher=uac
Require: timer
Content-Type: application/sdp
Content-Length:   547

v=0
o=- 3705134085 3705134087 IN IP4 1.2.3.4
s=pjmedia
b=AS:352
t=0 0
a=X-nat:0
m=audio 32654 RTP/SAVPF 111 126
c=IN IP4 1.2.3.4
b=TIAS:64000
a=rtpmap:111 opus/48000/2
a=fmtp:111 maxplaybackrate=16000
a=rtpmap:126 telephone-event/8000
a=fmtp:126 0-16
a=sendrecv
a=rtcp:32654
a=rtcp-mux
a=setup:active
a=fingerprint:sha-1 F8:BD:FC:4A:83:AF:8E:B0:0E:17:2A:06:0E:B1:A1:9E:AB:22:90:A4
a=ice-ufrag:wrlHWo0N
a=ice-pwd:2XyZ0fPJW6hjZ90Eh0kA39u4BA
a=candidate:ZGUKQ1KHlBaVyzCn 1 UDP 2130706431 1.2.3.4 32654 typ host

If you see it is only one ICE candidnate
At the logs i see

 ERR: [8342d081-2c03-e1a6-d055-80b6e6c9fb14 port 30268]: SRTP output wanted, but no crypto suite was negotiated

With this response jsSIP breaks session with 488 message after this 200 message


In my experience with a similar setup, Chrome in particular sometimes does not like what RTPEngine does in the "active" DTLS role. Using the "DTLS=passive" flag has solved the problem for me.

I use --dtls-passive flag aslo. But trouble still exists

solved
there was no video accepted n other side.
thats why i got this message